@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2, h3 {
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  padding-left: 2rem;
  padding-right: 2rem;
  
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

nav {
  margin-right: auto;
  margin-left: 3rem;

  & ul {
    display: flex;
    gap: 1rem;

    & li {
      padding: 1rem;

      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid #f2f2f2;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    width: 90%;
    transition: all .2s;
    margin-right: -7rem;

    &:focus {
        outline: none;
        // width: 100%;
        // background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
        font-weight: 300;
        color: grey;
    }
  }

  &__input:focus + &__button {
      background-color: blue;
  }

  &__button {
    font-family: inherit;
    border: none;
    border-radius: 0 10px 10px 0;
    color: #fff;
    background-color: blue;
    padding: 1rem 1.5rem;

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(2px);
    }
  }
}

.content {
  display: flex;
  background-color: #fff;
}

.nav {
  flex: 0 0 18%;
  min-height: 100vh;
  border-right: 1px solid #f2f2f2;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}

.nav_list {
  display: flex;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h2 {
    font-size: 2.4rem;
  }
}

.project {
  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  &--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--filters {
    display: flex;
    gap: 2rem;
  }

  &--box {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f2f2;
    padding: 1rem;
  }

  &--content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    & p {
      font-size: 1.2rem;
    }
  }

  &--image {
    width: 150px;
    background-color: #888;

    & img {
      width: 100%;
      background-size: cover;
    }
  }
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: 1px solid blue;
  cursor: pointer;
}

.mb-1 {margin-bottom: 1.5rem}
.mb-2 {margin-bottom: 2rem}
.mb-3 {margin-bottom: 3rem}
.mb-4 {margin-bottom: 4rem}

.mt-2 {margin-top: 2rem}

.search__filter {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 1rem 1.5rem;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-weight: 300;
    color: grey;
  }
}

.profile {
  &__section {
    display: flex;
    align-items: center;
  }

  &--image {
    width: 15rem;
    height: 15rem;
    background-color: #888;
    border-radius: 50%;
    display: flex;
    margin-right: 2rem;

    & img {
      width: 100%;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;

    & p:not(:last-of-type) {
      color: #888;
    }
  }
}

.links {
  width: 100%;
  font-size: 1.3rem;
  color: black !important;
  text-decoration: none;
  padding: 1.5rem;
  transition: all .5s;

  &:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
}

.earnings {

  &--box {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem 0;

    & p:last-child {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &--text-box {
    border-left: 4px solid blue;
    padding-left: 1rem;
  }
}
